// layout/_header.scss
@use '../abstracts' as *;

header.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--bg-secondary);
    background-color: var(--bg-primary);
    padding-right: 40px;

    a {
        img.logo-header {
            height: 240px;
        }
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;

    }

    .headnav {
        ul {
            list-style: none;
            display: flex;
            gap: 40px;
            align-items: center;
            justify-content: space-between;

            li a {
                color: var(--color-primary);
            }

        }
    }
}